  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{ title }} | TRI4GE" />
  <meta name="description" content="The art of freelance illustrator and costume builder Triage" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://tri4ge.icu/" />
  <meta property="og:title" content="{{ title }} | Tri4ge.icu" />
  <meta property="og:description" content="The art of freelance illustrator and costume builder Triage" />
  <meta property="og:image" content="/img/meta.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://tri4ge.icu/" />
  <meta property="twitter:title" content="{{ title }} | Tri4ge.icu" />
  <meta property="twitter:description" content="The art of freelance illustrator and costume builder Triage" />
  <meta property="twitter:image" content="/img/meta.png" />

<!-- Meta Tags Generated with https://metatags.io -->
  
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- update the core fontawesome file -->
  <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />

  <!-- update any styles .css files you have linked -->
  <link href="/assets/fontawesome/css/solid.css" rel="stylesheet" />
  <link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Mali:wght@600&display=swap" rel="stylesheet">

  <title>{{ title }} | Tri4ge.icu</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.PNG">