<!DOCTYPE html>
<html lang="en">

<head>
  {% include "basehead.njk" %}
  {% block head %}{% endblock %}
</head>

<body onload="preloader()">
<div id="mask">	
  <div id="lds-heart"><div></div></div>
</div>
<div id="loaded">
  <p style="text-align:center;margin:0;padding:0;">
              <a class="skip-to-content-link" href="#maincont">
          skip to content
        </a>
    </p>

    <button onclick="topFunction()" id="top" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
    <address id="toggle-button" class="theme-toggle"><img src="/img/togglesun.png" loading="lazy" id="toggle-img" alt="sun icon"></address>
    
    <nav>{% include 'navigation.njk' %}</nav>

    <main class="fadeInUp"> 
      <div class="wrapper">
          {{ content | safe }}
      </div>
    </main>

    <footer>{% include 'footer.njk' %}</footer>
</div>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy('[data-tippy-content]', {
    theme: 'triage',
    animation: 'scale',
    touch: 'hold',
    inertia: true,
    arrow: true,
  });
</script>
<script src="/js/preloader.js{{ nocache }}"></script>
<script src="/js/lightdarktoggle.js{{ nocache }}"></script>
<script src="/js/backtotop.js{{ nocache }}"></script>
</body>