  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- update the core fontawesome file -->
  <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />

  <!-- update any styles .css files you have linked -->
  <link href="/assets/fontawesome/css/solid.css" rel="stylesheet" />
  <link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Mali:wght@600&display=swap" rel="stylesheet">

  <title>{{ title }} | Tri4ge.icu</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.PNG">