<div class="footerflex">
    <div class="footerflexlogo">
        <img src="../../../img/logofooter.png" alt="Tri4ge">
    </div>
    <div class="footerflextext">
        <p>Hosted on <a href="https://nekoweb.org/" target="_blank" rel="noopener noreferrer">Nekoweb</a> est. 2025 - 20XX</p>
        <p>Coded with <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a>, <a href="https://github.com/faeriemachine/tri4ge" target="_blank" rel="noopener noreferrer">open source code</a></p>
        <p>Made with ❤️, 💊, and my own two paws</p>
        <p><a href="/a11y/">Accessibility Statement</a></p>
        <p><a href="/home/">Home</a> • <a href="/sitemap/">Sitemap</a> • <a href="/changelog/">Changelog</a> • <a href="/links/">Links</a>
    </div>
</div>