<!DOCTYPE html>
<html lang="en">

<head>
  {% include "basehead.njk" %}
  {% block head %}{% endblock %}
</head>

<body>
<p style="text-align:center;margin:0;padding:0;">
            <a class="skip-to-content-link" href="#maincont">
        skip to content
      </a>
  </p>
  <button onclick="topFunction()" id="top" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
  <address id="toggle-button" class="theme-toggle"><img src="/img/togglesun.png" loading="lazy" id="toggle-img" alt="sun icon"></address>

  <main class="fadeInUp" style="text-align: center;"> 
    <header style="width: fit-content;margin: 0 auto;"><img src="/img/index/logo.png" style="width: 100%;" alt="Tri4ge"></header>
    <div class="wrapper">
        {{ content | safe }}
    </div>
    <p>
      <img src="/img/index/responsive.png" alt="Responsive website"> 
      <img src="/img/index/best_viewed.jpg" alt="Best viewed 1920 x 1080 full HD"> 
      <img src="/img/index/nochildren.jpg" alt="This site is not intended for children"> 
      <img src="/img/index/nop.gif" alt="No nazi, no fascism, no racism"> 
      <img src="/img/index/paws.png" alt="Made with my own two paws">
    </p>
  </main>

</body>
<script src="/js/lightdarktoggle.js"></script>
<script src="/js/updated-visitors.js"></script>