<p>
    <h3>07.04.26</h3>
    Added new blog post; <a href="/blog/posts/100-questions-artists/">100 Questions for Artists</a>.</br>
    Added a link to my Internet Archive art books list to both the <a href="/faq">FAQ</a> and <a href="/links">links</a> pages.</br>
    Added new gallery pieces.</br>
    Fixed typos.
</p>

<p>
    <h3>06.06.26</h3>
    Commissions are now open! Please view the respective page and my terms of service for more information. </br>
    Added new gallery pieces + fixed artwork permalinks.
</p>

<p>
    <h3>05.26.26</h3>
    Finally opening version 2.0 to the public!
</p>

<p>
    <h3>03.10.26</h3>
    Coding for 2.0 finished today, testing opens tomorrow.
</p>
