<p>
    <h3>12.09.25</h3>
    Play/pause gifs toggle finished and mobile layouts fixed. Also forgot to log this in the updates, but I also moved from Neocities to Nekoweb on the third of December!
</p>

<p>
    <h3>12.08.24</h3>
    Been doing some pretty big changes to the website's code lately. Mostly just stuctural integrity stuff, but I've also added things like the persistent light/dark mode toggle button, the sub menus on the header, and adding the sitemap and update archive pages. Soon I hope to add a play/stop gifs toggle button on the relevant pages, as well as fixing the mobile layouts on the pages that require it.
</p>

<p>
    <h3>10.15.24</h3>
    Getting back into editing the website's code after being sick for over a month. Slowly working on making changes according to the advice of my beta testers.
</p>

<p>
    <h3>08.26.24</h3>
    The rest of the website has been completely coded and is open for beta testing.
</p>

<p>
    <h3>08.26.24</h3>
    TOS and 2/3 of the gallery pages have been coded, and started putting the website together.
</p>

<p>
    <h3>08.22.24</h3>
    When the humble beginnings of this website started! About and landing pages all coded.
</p>