.welcome{
  text-align: center;
}

.gallery{
  text-align: center;
}

.gallery img { 
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 1px #35123F;
  transition: all .2s ease;  
}

.gallery img:hover{
    transform: scale(1.1); 
}

article img {
  width: 100%;
  box-shadow: 0px 0px 5px 1px #35123F;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

li {
  display: block;
  margin-left: 8px;
}

li::before {
  display: block;
  margin-left: 8px;
}


#pagination {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
}

#next, #back, #previous{
  text-align: center;
  width: 50%;
}

.tagsbox{
  text-align: center;
}

/* Tag Menus */

details > summary {
    background-color: #D12C3A;
    color: white;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: 'Mali';
}

details > ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

details > li {
  display: inline;
  margin-top: 5px;
}