h3, h4 {
  text-align: center;
}


.sites {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sitebuttonlink:not([href*="https://tri4ge.icu/"]):not([href^="#"]):not([href^="/"]):not(.no-icon)::after {
    content: none;
}

.sitebutton {
    transition: transform 0.3s ease;
    position: relative;
    outline-color: var(--light--border-primary);
    border-radius: 5px;
}

.sitebutton:hover {
    color: var(--light--border-primary);
	outline-width: 3px;
	outline-style: solid;
	background-color: var(--light--border-primary);
	transform: scale(1.6);
	z-index: 2;
}
