/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{
	/* basic */
	max-width:300px;
	z-index:10;
	/* style and design */
	padding:8px;
  	background-color: #006262;;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
	/* font */
	font-family: 'Mali';
	font-size:0.7em;
	line-height:16px;
  	color: white;
}