---
layout: base.njk
permalink: "/gallery/"
---
<link rel="stylesheet" href="/css/gallery.css" />
<div class="content">
    <h1 id="gallery">{{ title }}</h1>

<!-- Pagination -->
<p>
{% set previousPost = collections.gallery | getPreviousCollectionItem(page) %}
{% set nextPost = collections.gallery | getNextCollectionItem(page) %}
{% include "partials/paginate.njk" %}
</p>

<hr>

<section>
    <article>
	   {{ content | safe }}
    </article>
</section>

<div class="text">
    <strong>Created</strong>: {{ page.date.toLocaleString( undefined, { year: 'numeric', month:
      'long', day: 'numeric' })}}
</div>

<hr>

<ul class="tags">
<i class="fa-solid fa-tag"></i>
        {% for tag in tags | exclude("gallery") %}
        <li class="tags">
            <a href="/gallery/tagged/{{ tag | slugify }}" class="tags" >#{{ tag }} </a>
        </li>
        {% endfor %}
    </ul>
</div>