/* h2 styling */
h2 {
    margin: 5px;
}

/* Header banner */
.headerimg{
    margin: 0 auto;
    width: 50rem;
    height: 16.625rem;
}

/* Main content */
.welcomeflex, .flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.left, .right {
    width: 50%;
}

.hysondoll {
    width: 22%;
    padding: 20px 20px 0px 15px;
}

.txt{
    width: 73%;
}

.latest{
    height: fit-content;
    overflow: scroll;
    overflow-x: scroll;
}

#updates, #blogroll{
    overflow: scroll;
    overflow-x: hidden;
}

#updates{
    height: 18rem;
}

#blogroll{
    height: 51.4rem;
}

#links{
    height: fit-content;
    text-align: center;
}

.status{
    height: fit-content;
    position: relative;
    overflow: hidden;
}

#statuscafe {
    background-color: var(--light--bg-primary);
    border: 3px solid var(--light--border-primary);
    color: var(--light--text-primary);
    box-shadow: 0px 0px 5px 1px #35123F;
    padding: .5em;
    margin: .5rem;
    border-radius: 0.5rem;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 8em 0.5em 1em;
}

.hysonpeek{
    position: absolute;
    width: auto;
    right: 20px;
    bottom: 0px;
}

.act{
    height: 20rem;
    overflow: scroll;
    overflow-x: hidden;
}

/* Status span */
.closed::after{
    content: 'Closed';
    color: var(--light--comm-closed);
    font-weight: bold;
}

.open::after{
    content: 'Open';
    color: var(--light--comm-open);
    font-weight: bold;
}

/* Img elements */
#target{
  border: 1px solid black;
}

.hyson{
    width: 25%;
}

.sitebutton{
    width: auto;
}

/* Mobile */
@media only screen and (max-width: 980px) {

    .headerimg{
        width: 100%;
        height: 100%;
    }

    #target {
        width: 100%;
    }

  .flexbox{
    flex-direction: column;
    width: 100%;
  }

  .left, .right {
    order: 2;
    width: 100%;
  }

  .right {
    order: 1;
    width: 100%;
  }
  
  #blogroll {
    height: 30rem;
    overflow: scroll;
    overflow-x: hidden;
  }

  .txt{
    width: 100%;
  }

  .hysondoll {
    width: auto;
    padding: 5px;
    margin: 0 auto;
  }

  #statuscafe-content{
    margin: 0em 0em 8em 0.25em;
  }

}