@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffffff var(--light--box-secondary);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--light--box-secondary);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid var(--light--box-secondary);
  }


/* Sidebar styling */
.sidebar{
  position: fixed;
  width: 260px;
  left: -260px;
  height: 100%;
  background: var(--light--box-secondary);
  transition: all .5s ease;
  overflow: auto;
  overflow-x: auto;
  z-index: 1000;
}

.sidebar header{
  text-align: center;
  user-select: none;
  margin-top: 1rem;
}

.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border: 5px solid transparent;
  font-family: 'Mali';
  color: white;
}

.sidebar a.active, .sidebar a:hover{
  border-left: 5px solid var(--orange);
  color: var(--orange);
}

.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check{
  display: none;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-btn{
  display: block;
  height: 65px;
  width: 100%;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  background: var(--light--box-secondary);
  border: 5px solid transparent;
  font-family: 'Mali';
  text-align: left;
  color: white;
  transition: all .5s ease; 
}

.dropdown-btn.active, .dropdown-btn:hover{
  border-left: 5px solid var(--orange);
  color: var(--orange);
}

.dropdown-btn i{
  font-size: 23px;
  margin-right: 16px;
}

.label{
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dropdown-container {
  display: none;
  line-height: 65px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Mali';
  transition: all .5s ease; 
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  margin-top: 20px;
}

/* Img elements */
.logo{
    width:75%;
}

/* Fade effects */
@keyframes fadeInLeft {
    from {
        transform: translateX(-20px);
    }
    to {
        transform: translateX(0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 0.5s ease-out;
}

/* Label styling */

label #btn,label #cancel{
  position: fixed;
  left: 5px;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  border: 1px solid var(--light--box-secondary);
  margin: 15px 30px;
  font-size: 29px;
  background: var(--light--box-secondary);
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  transition: all .5s ease;
  z-index: 1000;
}

#btn:hover, #cancel:hover {
  background-color: #555;
}

label #cancel{
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  margin-left: 270px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel{
  margin-left: 270px;
  opacity: 1;
  visibility: visible;
}